<header class="header-area">
    
    <div id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/home"><img src="public/images/logo/hrylogo2.png" alt="" title="" style="height:80px;padding-left: 15px ;" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="/home" style="font-size: 25px;">Home</a></li>
                        <li><a href="/covid" class="text-danger" style="font-size: 25px;">COVID</a></li>
                        <li><a href="/gallery"  style="font-size: 25px;">Gallery</a></li>
                        <li style="font-size: 25px; color: blue;cursor: pointer;">LINKS
                            <ul style="text-decoration: none;">
                                <li style="backface-visibility: visible;"><a href = "#">Link One</a></li>
                                <li><a href = "#">Link Two</a></li>
                                <li><a href = "#">Link Three</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact" style="font-size: 25px;">Contact Us</a></li>

                    </ul>
                </nav><!-- #nav-menu-container -->		    		
            </div>
        </div>
    </div>
</header>