<header class="header-area">
    
    <div id="header" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/home"><img src="public/images/logo/hrylogo2.png" alt="" title="" style="height:80px;padding-left: 15px ;" /></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                  
                        <li class="menu-active"><a href="/home" style="font-size: 25px;">Home</a></li>
                        <li><a href="/covid" class="text-danger" style="font-size: 25px;">COVID</a></li>
                      
                       
                        <!-- About Menu -->
                        <li><a href="#" style="font-size: 25px;"> About  </a>  
                            <ul style="text-decoration: none;">
                                <li ><a href="#" style="font-size: 15px;">Departments</a>

                                <ul style="text-decoration: none; display: none;">
                                    <li ><a href="/departments">Child Health (APC / SNCU) Immunization  Maternal Health</a></li>
                                    <li ><a href="/departments">Death & Birth School Health</a></li>
                                    <li ><a href="/departments">Mental Health PNDT</a></li>
                                    </li>
                                    </ul>


                                <li><a href = "#" style="font-size: 15px;">Health Facilities</a>
                                    <ul style="text-decoration: none;">
                                        <li ><a href="health-facilities">District Hospital (DH)</a></li>
                                        <li ><a href="health-facilities">Sub District Hospital</a></li>
                                        <li ><a href="health-facilities">CHC's</a></li>
                                        <li ><a href="health-facilities">UPHC’s</a></li>
                                        <li ><a href="health-facilities">Dispensary</a></li>
                                </li>
                                    </ul>                                 
                            </ul>
                        </li>
                        <li><a href="/gallery"  style="font-size: 25px;">Gallery</a></li>
                        <li><a href="/contact" style="font-size: 25px;">Contact Us</a></li>

                            </ul>
                </nav><!-- #nav-menu-container -->		    		
            </div>
        </div>
    </div>
</header>