<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Civil Surgeon, YNR</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="public/images/logo/favicon.ico" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="public/css/animate-3.7.0.css">
    <link rel="stylesheet" href="public/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="public/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="public/css/owl-carousel.min.css">
    <link rel="stylesheet" href="public/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="public/css/linearicons.css">
    <link rel="stylesheet" href="public/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>