<%- include('../partials/top') %>



<%- include ('../partials/header') %>


<div class="container" style="margin-top: 300px; margin-left: 300px;">
    <h2 style="text-align: center;">Bad Request !</h2>
    <p>Please try again after few minutes.</p>
</div>




<%- include('../partials/bottom') %>