<!-- Banner Area Starts -->
<section class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <h4 class="text-danger">Caring for Better Life</h4>
                <h2 class="cityname">Civil Surgeon,</h2>
                <h2 class="cityname">YAMUNANAGAR</h2>
                <a href="/covid" class="template-btn mt-3">Covid-19</a>
            </div>
        </div>
    </div>
</section>
<!-- Banner Area End -->

<style>

    
</style>