<%- include('../partials/top') %>

<%- include('../partials/header') %>
<div style="margin-top: 300px;">
<div style="width: 100%;">
    <h2 style="text-align:center">HEALTH DEPARTMENT, YAMUNA NAGAR (HARYANA)</h2>
    </div>

    <div style="text-align:center; margin-top: 50px;">
        <ins><h3>Covid-19 Report</h3></ins>
    </div>
    <table style="margin-left:auto; margin-right: auto; margin-top: 20px;">
        <tr>
            <td class="td-left"><h3>SRF No.</h3></td>
            <td>:-</td>
            <td class="td-right"><h3><%= srfno %></h3></td>
        </tr>
        <tr>
            <td class="td-left"><h3>Result</h3></td>
            <td>:-</td>
            <td class="td-right" style="font-size: 20px;"><b>Not Found!</b></td>
        </tr>
    </table>
    <div style="text-align: center; margin-top: 50px;">
        <h4>If Report Not Found Please Contact : </h4>
        <h5 class="text-danger">Mukand Lal Distt. Civil Hospital, Yamuna Nagar</h5>
        <h5>Contact :- 01732-231608 (Medical Superintendent)</h5>
    </div>
</div>


<%- include('../partials/bottom') %>