<%- include('../partials/top') %>

    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->
    <!-- slippery-worm-ktido1n84c73zrivgncca1pa.herokudns.com -->

    <!-- Header Area Starts -->
    <header class="header-area">
    
        <div id="header" id="home">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/home"><img src="public/images/logo/hrylogo2.png" alt="" title="" height="60px;"/></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/logout" type="button"><h3>logout</h3></a></li>			          				          
                    </ul>
                </nav><!-- #nav-menu-container -->		    		
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->

    <%- include ('./banner') %>
    <h2 class="mt-3" style="text-align: center;">Upload Data Here ...</h2>
    
    <!-- Banner Area Starts -->
    <section>
        <div class="container p-3  rounded" style="background-color: #d1ffca;;">
            <div class="row ">

                <div class="col-lg-12 d-flex justify-content-center">
                    <div style = "margin-top: 50px;" class="col-7">
                        <div class="container p-3  rounded" style="background-color: #d1ffca;;">
                            <form action="/tally-upload" method="POST">
                                <div class="form-row mt-1">
                                    <div class="col">
                                        <label for="total_sample_taken">Enter Total Sample Taken:</label>
                                        <input type="text" class="form-control" id="total_sample_taken" placeholder="Enter Total Sample Taken " name="sample_taken" required>
                                    </div>
                                    <div class="col">
                                        <label for="total_positive_reported">Enter Total Positive Reported:</label>
                                        <input type="text" class="form-control" id="total_positive_reported" placeholder="Enter Total Positive Reported " name="positive_reported" required>
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <div class="col">
                                        <label for="under_treatment">Enter Total Patients Under Treatment:</label>
                                        <input type="text" class="form-control" id="under_treatment" placeholder="Enter Total Patients Under Treatment " name="under_treatment" required>
                                    </div>
                                    <div class="col">
                                        <label for="negative_reported">Enter Total Negative Reported:</label>
                                        <input type="text" class="form-control" id="negative_reported" placeholder="Enter Total Negative Reported " name="negative_reported" required>
                                    </div>
                                </div>
                                <div style = "text-align: center;" class="mt-2">
                                    <input type="submit"  class="btn btn-success form-control" value="Submit Data!">
                                </div>
                            </form>
                        </div>
                </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Area End -->

    
<div style="margin-top: 200px;;">
   <%- include('../partials/footer') %>
</div>

    <!-- Javascript -->
    <script src="public/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="public/js/vendor/bootstrap-4.1.3.min.js"></script>
    <script src="public/js/vendor/wow.min.js"></script>
    <script src="public/js/vendor/owl-carousel.min.js"></script>
    <script src="public/js/vendor/jquery.datetimepicker.full.min.js"></script>
    <script src="public/js/vendor/jquery.nice-select.min.js"></script>
    <script src="public/js/vendor/superfish.min.js"></script>
    <script src="public/js/main.js"></script>

<%- include('../partials/bottom') %>
